.ff_box {
	padding-top: 							15%;

	hr {
		border-color: #ddd	;
		margin-top: 0;
	}

	.off-canvas-subtle {
		padding: 5px 0;
		text-align: center;
		color: rgb(146, 146, 146);
		margin: 10px 0;
		border-top: 1px solid rgba(146, 146, 146, $OPACITY-SIX);
		border-bottom: 1px solid rgba(146, 146, 146, $OPACITY-SIX);
	}

	.cd-filter-block {
	    margin-bottom:                          1.6em;

	    label {
	    	font-weight:                   		$REGULAR;
	    	font-size: 							$THIN-FONT;
	    	color: 								rgb(146, 146, 146);
	    }

	    input[type="submit"] {
	    	width: 								100px;
	    	height: 							25px;
	    	padding: 							0;
	    	line-height: 						20px;
	    	margin-top: 						10px;
	    	@include round-all-borders(3px);
	    }
	}

	.filter-by {
		.filter-by--search {
			text-align: right;

			input[type="submit"] {
				margin: 5px 0;
			}
		}

		input[type="submit"] {
			margin-left: 5px;
			margin-top: 0;
			height: 29px;
		}

		/*.category-filters {
			label.tgl {
				margin-top: 2px;
			}

			i.fa {
				margin: 0 1px;
				color: $DARK-COLOR;
			}

			p {
				color: rgb(170, 181, 197);
				font-size: $THIN-FONT;
			}
		}
		*/
	}

	.cd-filter-block h4 {
	    // filter block title
	    position:                               relative;
	    margin-bottom:                          .2em;
	    padding:                                10px 0 10px 20px;
	    color:                                  $DARK-COLOR;
	    //text-transform:                         uppercase;
	    font-weight:                            $REGULAR;
	    font-size:                              1.3rem;
	    -webkit-user-select:                    none;
	    -moz-user-select:                       none;
	    -ms-user-select:                        none;
	    user-select:                            none;
	    cursor:                                 pointer;
	}

	.no-touch .cd-filter-block h4:hover {
	    color:                                  #41307c;
	}

	.cd-filter-block h4::before {
	    // arrow
	    content:                                '';
	    position:                               absolute;
	    left:                                   0;
	    top:                                    50%;
	    width:                                  16px;
	    height:                                 16px;
	    background:                             url("../images/cd-icon-arrow.svg") no-repeat center center;
	    -webkit-transform:                      translateY(-50%);
	    -moz-transform:                         translateY(-50%);
	    -ms-transform:                          translateY(-50%);
	    -o-transform:                           translateY(-50%);
	    transform:                              translateY(-50%);
	    -webkit-transition:                     -webkit-transform 0.3s;
	    -moz-transition:                        -moz-transform 0.3s;
	    transition:                             transform 0.3s;
	}

	.cd-filter-block h4.closed::before {
	    -webkit-transform:                      translateY(-50%) rotate(-90deg);
	    -moz-transform:                         translateY(-50%) rotate(-90deg);
	    -ms-transform:                          translateY(-50%) rotate(-90deg);
	    -o-transform:                           translateY(-50%) rotate(-90deg);
	    transform:                              translateY(-50%) rotate(-90deg);
	}

	.cd-filter-block input,
	.cd-filter-block select,
	.cd-filter-block .radio-label::before,
	.cd-filter-block .checkbox-label::before {
	    // shared style for input elements
	    //font-family:                            "Open Sans", sans-serif;
	    //border-radius:                          0;
	    //background-color:                       #ffffff;
	    //border:                                 2px solid #e6e6e6;
	}

	.cd-filter-block input[type="search"],
	.cd-filter-block input[type="text"],
	.cd-filter-block select {
	    width:                                  100%;
	    padding:                                0 6px;
	    
	    //-webkit-appearance:                     none;
	    //-moz-appearance:                        none;
	    //-ms-appearance:                         none;
	    //-o-appearance:                          none;
	    //appearance:                             none;
	    
	    box-shadow:                             none;
	}

	.cd-filter-block input[type='search']:focus,
	.cd-filter-block input[type='text']:focus,
	.cd-filter-block select:focus {
	    outline:                                none;
	    background-color:                       #ffffff;
	    border-color:                           #41307c;
	}

	.cd-filter-block input[type='search'] {
	    // custom style for the search element
	    //border:                                 1px solid #ddd;
	    border: none;
	    height: 29px;
	    line-height: 29px;
	    @include round-all-borders(4px);
	    //background-color:                       #e6e6e6;
	    // prevent jump - ios devices
	    font-size:                              1.2rem !important;
	}

	.cd-filter-block input[type='search']::-webkit-search-cancel-button {
	    display:                                none;
	}

	.cd-filter-block .cd-select {
	    // select element wrapper
	    position:                               relative;
	}

	.cd-filter-block .cd-select::after {
	    // switcher arrow for select element
	    content:                                '';
	    position:                               absolute;
	    z-index:                                1;
	    right:                                  14px;
	    top:                                    50%;
	    -webkit-transform:                      translateY(-50%);
	    -moz-transform:                         translateY(-50%);
	    -ms-transform:                          translateY(-50%);
	    -o-transform:                           translateY(-50%);
	    transform:                              translateY(-50%);
	    display:                                block;
	    width:                                  16px;
	    height:                                 16px;
	    background:                             url("../images/cd-icon-arrow.svg") no-repeat center center;
	    pointer-events:                         none;
	}

	.cd-filter-block select {
	    cursor:                                 pointer;
	    font-size:                              1.4rem;
	}

	.cd-filter-block select::-ms-expand {
	    display:                                none;
	}

	.cd-filter-block .list li {
	    position:                               relative;
	    margin-bottom:                          .8em;
	}

	.cd-filter-block .list li:last-of-type {
	    margin-bottom:                          0;
	}

	.cd-filter-block input[type=radio],
	.cd-filter-block input[type=checkbox] {
	    // hide original check and radio buttons
	    position:                               absolute;
	    left:                                   0;
	    top:                                    0;
	    margin:                                 0;
	    padding:                                0;
	    opacity:                                0;
	    z-index:                                $ZINDEX-2;
	}

	.cd-filter-block .checkbox-label,
	.cd-filter-block .radio-label {
	    padding-left:                           24px;
	    font-size:                              1.4rem;
	    -webkit-user-select:                    $FALSE;
	    -moz-user-select:                       $FALSE;
	    -ms-user-select:                        $FALSE;
	    user-select:                            $FALSE;
	}
	.cd-filter-block .checkbox-label::before, 
	.cd-filter-block .checkbox-label::after,
	.cd-filter-block .radio-label::before,
	.cd-filter-block .radio-label::after {
	    // custom radio and check boxes
	    content:                                '';
	    display:                                block;
	    position:                               absolute;
	    top:                                    50%;
	    -webkit-transform:                      translateY(-50%);
	    -moz-transform:                         translateY(-50%);
	    -ms-transform:                          translateY(-50%);
	    -o-transform:                           translateY(-50%);
	    transform:                              translateY(-50%);
	}

	.cd-filter-block .checkbox-label::before,
	.cd-filter-block .radio-label::before {
	    width:                                  16px;
	    height:                                 16px;
	    left:                                   0;
	}

	.cd-filter-block .checkbox-label::after,
	.cd-filter-block .radio-label::after {
	    // check mark - hidden
	    display:                                $FALSE;
	}

	.cd-filter-block .checkbox-label::after {
	    // check mark style for check boxes
	    width:                                  16px;
	    height:                                 16px;
	    background:                             url("../images/cd-icon-check.svg") no-repeat center center;
	}

	.cd-filter-block .radio-label::before,
	.cd-filter-block .radio-label::after {
	    border-radius:                          50%;
	}

	.cd-filter-block .radio-label::after {
	    // check mark style for radio buttons
	    width:                                  6px;
	    height:                                 6px;
	    background-color:                       #ffffff;
	    left:                                   5px;
	}

	.cd-filter-block input[type=radio]:checked + label::before,
	.cd-filter-block input[type=checkbox]:checked + label::before {
	    border-color:                           #41307c;
	    background-color:                       #41307c;
	}

	.cd-filter-block input[type=radio]:checked + label::after,
	.cd-filter-block input[type=checkbox]:checked + label::after {
	    display:                                block;
	}

	@-moz-document url-prefix() {
	    // hide custom arrow on Firefox - select element
	    .cd-filter-block .cd-select::after {
	        display:                            $FALSE;
	    }
	}

	.types-of-rooms {
	    background:                             rgb(237, 237, 237);
	}
}

/* flexbox stuff */
.f_row {
    margin-top: 5px;
    //border: 1px solid #ddd;    
    display: flex;
    //flex-direction: row;
}

.align-to-end {
	justify-content: flex-end;
}

.f_col {
    flex-direction: column;
}

.input-icon {
  background: #ddd;
}

.input-with-icon {
  border: none;
  flex: 1;
}

.input-icon, .input-with-icon {
  padding: 4px;
}

.item-third + .item-third {
	margin-left: 5px;
}

.item-third {
	width: 33%;
}

.filter-prices {
	font-size: $MEDIUM-FONT;
	display: block;
	width: 100%;
	position: relative;
	color: rgb(146, 146, 146);
}

#filter-prices-max {
	position: absolute;
	right: 0;
}

.filter-category {
	display: block;
	width: 100%;
	position: relative;
	color: rgb(146, 146, 146);
}

.filter-category-star {
	.tgl {
		margin-right: 5px;
	}
	.stars i {
		color: $DARK-COLOR;
	}
	.filter-category-hotels {
		position: absolute;
		right: 0;
	}
}

.only-offers {
	label.tgl {
		margin-right: 6px;
	}

	span {
		color: #929292;
	}
}