.header-results {
    height:                                 150px;
    background:                             url("../images/back4.jpg");
    background-size:                        cover;
    background-position:                    bottom center;
    box-shadow:                             inset 0 -45px  40px rgba($DARK-COLOR, $OPACITY-THREE);

    img {
        transform: translateY(50%);
    }

    /*
    img {
        margin-top:                         20px;
    }

    a {
        color:                              $GENERAL-COLOR;
        outline:                            $FALSE;
        border:                             $FALSE;
        padding-top:                        30px;
        float:                              right;
        font-size:                          $MEDIUM-FONT;
        opacity:                            $OPACITY-SEVEN;
        @include transition(all, 0.5s, ease-in-out);

        &:hover {
            opacity:                        $NO-OPACITY;
            @include transition(all, 0.5s, ease-in);
        }

        span {
            font-weight:                    bold;
        }
    }
    */
}

.header-results {
    position: relative;
}

.link-currency-type {
    font-size: $THIN-FONT;
    font-weight: $LIGHT;
    padding: 5px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    position: absolute;
    bottom: 0;
    right: 0;
    @include bg-gradient();

    //hover
    &:hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
        cursor: pointer;
    }
}

// add some changes to style the "Tipo de Cambio" link
#value_exhange_rate {
    color                      : rgb(255, 255, 255);
    text-align                 : right;
}