$compare__modal--bg: rgba(230, 230, 230, .8);
$compare__modal--text: #434C57;

$color__tab: rgb(158, 166, 185);

$color__link: $color__tab;
$color__link--hover: rgb(67, 76, 87);

#moreinfo__modal {
	color 									: $compare__modal--text;
	background 								: $compare__modal--bg;

	.modal-backdrop.in {
		background 							: $compare__modal--bg;
	}

		// modal-header
	.modal-header {
		//@include border-();
		margin-bottom 						: 50px;
	}

	.modal-content {
		@include no-border();
		border 								: 1px solid #9EA6B9;
		@include box-shadow(0 0 0 transparent);
		margin 								: 0;
		padding 							: 0;
	}

	.modal-body {
		text-align 							: left;
		margin 								: 0;
		padding 							: 0;
	}

		// rewrite some styles
	> .modal-dialog {
		width 								: 98%;

		@media only screen and (min-width: 450px) {
			width 							: 85%;
		}

		@media only screen and (min-width: 850px) {
			width 							: 88%;
		}

		@media only screen and (min-width: 1000px) {
			width 							: 65%;
		}

		margin-top 							: 6%;
		//background: rgba(255, 0, 0, .95);
		background 							: white;
	}

	h3 {
		margin 								: 0;
		font-size 							: 30px;
		font-weight 						: $LIGHT;
		color 								: #434C57;
		text-align 							: left;
	}
}

//button close
.moreinfo__content--close {
	font-size 								: 60px;
	font-weight 							: $LIGHT;

}

.moreinfo__tabs {
	//width: 26%;
	//background: red;
	border-bottom 							: 1px solid $color__tab;
	text-align 								: center;
	padding 								: 28px;
	width: 100%;

	
	@media only screen and (min-width: 700px) {
		width 								: 30%;
		border-right 						: 1px solid $color__tab;
	}
	

	input[type="submit"] {
		font-size 							: 20px;
		line-height 						: 24px;
		font-family 						: $REGULAR;
		text-transform 						: capitalize;
		padding 							: 10px 8px;
		@include round-borders-custom(0, 0, 0, 0);
	}

	.nav-tabs > li {
		//float 								: none;
		//margin 								: 0 8px;
		//display 							: block;
		//float 								: none;
		margin 								: 0 5px;
		display 							: block;

		
		@media only screen and (min-width: 700px) {
			float 							: none;
			margin 							: 0;
			display 						: block;
		}
		

		a {
			//reset
			border 							: none;
			margin 							: 0;
			padding 						: 0;
			border-radius 					: 0;
			cursor 							: pointer;

			//styles
			font-size 						: $MEDIUM-FONT;
			line-height 					: 17px;
			//display: block;
			text-align 						: left;
			font-weight 					: $REGULAR;
			color 							: $color__link;
			@include transition(all, 1s, ease);

			&:hover,
			&:focus,
			&:active,
			&:visited {
				border 						: none;
				background 					: none;
				text-decoration 			: none;
				color 						: $color__link--hover;
				cursor 						: pointer;
			}
		}
	}

	ul.nav {
		margin 								: 10px 0;
		border 								: 0;

		@media only screen and (min-width: 700px) {
			margin 							: 60px 0;
		}
	}

	li {
		padding 							: 6px 0;
	}
}

.tabs__navigation {
	margin 									: 0;
	list-style-type 						: none;
	padding 								: 0;
	//width: 80px;
	//float: left;
}


.moreinfo__content {
	padding 								: 20px;

	.tab-content {
		padding 							: 0;
	}

	label {
		color 								: $color__tab;
		font-weight 						: $REGULAR;
		font-size 							: 15px;
		margin 								: 0;
	}

	p {
		color 								: #434C57;
		font-size 							: 14px;
		font-weight 						: $REGULAR;
	}

	p[role="description"] {
		font-size 							: 12px;
	}

	.moreinfo__content--title {
		font-size 							: 18px;
		font-weight 						: $REGULAR;
		line-height 						: 22px;
	}

	.stars i.fa {
		font-size 							: 20px;
		margin-bottom 						: 20px;
	}
}



.moreinfo__content--map {
	padding 								: 20px;
	//height: 100%;
}


.moreinfo-selected {
	display 								: block;
}

// tabs facilities

#moreinfo-facilities,
#moreinfo-info {
	.tabs_facilities {
		border 								: none;
		padding 							: 15px 0 25px 0;

		li > a {
			text-align 						: center;
			color 							: $compare__modal--text;
		}

		li.active > a {
			color 							: white;
			background 						: #9EA6B9;
		}
		
		li {
			display 						: block;
			width 							: 100%;

			a {
				padding 					: 6px 15px;
				border 						: none;
				border-radius 				: 0;
				margin 						: 0;
			}
		}

		&--content {
			padding 						: 25px;
			border-left 					: 1px solid $color__tab;
		}
	}
}

// ul list on tab facilities
.tabs_facilities--list {
	padding 								: 0;
	list-style-type 						: none;
	-webkit-column-count 					: 2; /* Chrome, Safari, Opera */
    -moz-column-count 						: 2; /* Firefox */
    column-count 							: 2;
    font-size 								: 11px;
    color 									: black;

	li:before {
		content 							: " – ";
	}
}

// p tags in info tab
#moreinfo-info {

	.tabs_facilities--content {
		padding: 10px 25px;
		font-size: 13px;

		p {
			font-size: 11px;
		}
	}
}

//form
.moreinfo__form {
	color: #434C57;

	h4 {
		font-size: 18px;
		font-weight: $LIGHT;
		margin-bottom: 25px;
	}

	label {
		color: #9EA6B9;
		display: block;
	}

	input[type="submit"] {
		width: 100px;
		padding: 7px 0;
		margin-top: 20px;
		display: block;
		font-size: 16px;
		text-transform: capitalize;
	}

	input[type="email"] {
		display: block;
		$color__form: rgba(0, 0, 0, .8);
		color: $color__form;
		height: 29px;
		border: none;
		outline: none;
		border-bottom: 1px solid;
		font-size: 15px;
		margin: 6px 0;
		width: 95%;

		@media only screen and (min-width: 850px) {
			width: 60%;
		}

		::-webkit-input-placeholder {
		   color: $color__form;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $color__form;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $color__form;
		}

		:-ms-input-placeholder {  
		   color: $color__form;
		}
	}
}

.slides-list {
	list-style-type: none;
	padding: 0;

	li {
		display: inline-block;
	}

	img {
		width: 66px;
		height: 45px;
		margin: 4px;
		padding: 0;
	}
}

.slides--big-image img {
	width: 100%;
}