.ui-slider {
	position: relative;
	text-align: left;
}

.ui-slider-horizontal {
	height: .4em;
	background: #d9d9de;
	border-radius: 4px;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.ui-slider .ui-widget-content {
	border: 1px solid #aaa;
}

.ui-slider .ui-widget-header {
  //border: 1px solid #aaaaaa;
  color: #222222;
  height: .5em;

  @include bg-gradient();
}

.ui-slider .ui-corner-all,
.ui-slider .ui-corner-top,
.ui-slider .ui-corner-left,
.ui-slider .ui-corner-tl {
	@include round-all-borders(4px);
}


// limiters
.ui-slider .ui-state-default,
.ui-slider .ui-widget-content .ui-state-default,
.ui-slider .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  background: #fff;
  outline: none;

  @include round-all-borders(50%);
  @include box-shadow(1px 1px 5px #ddd);
}