// Copyright 2015 A Travel Corporation

// Project Name: travelnet
// Project Description: The Power of Minimalist
// File Name: style.less
// Author: Yair Rodriguez
// Version: 1.0

@import "mixins.scss";
@import "basic.scss";

@import "header.scss";
@import "content.scss";
@import "footer.scss";

@import "header-results.scss";

@import "toggle.scss";
@import "calendar.scss";
@import "autocomplete.scss";
@import "slider.scss";

@import "grid.scss";
@import "utils.scss";

@import "layout.scss";

@import "form_off_canvas.scss";
@import "results.scss";
@import "animations.scss";

@import "booking.scss";
@import "pay__form.scss";
@import "compare-hotels.scss";
@import "moreinfo.scss";
@import "modals-polytics";

//@import "toggle.scss";
//@import "calendar.scss";
//@import "autocomplete.scss";
//@import "range-slider.scss";