.transfer--results {
	width: 100%;
	margin: 0 auto;

	@media screen and (min-width: 1170px) {
		width: 75%;
	}

	@media screen and (min-width: 950px) {
		width: 90%;
	}

	@media screen and (min-width: 1170px) {
		width: 75%;
	}
}

.transfer--image img {
	height: 200px;
	width: 100%;

	@media screen and (min-width: 450px) {
		height: 145px;
	}

	@media screen and (min-width: 950px) {
		height: 145px;
	}
}

/* other layout ¬¬ */
.transfer--image {
	float: none;

	@media screen and (min-width: 615px) {
		float: left;
	}
}
.transfer--content {
	//width: 60%;
	float: none;

	@media screen and (min-width: 615px) {
		float: left;
		width: 60%;
	}
}
.transfer--prices {
	text-align: center;
	float: none;

	@media screen and (min-width: 615px) {
		float: left;
	}
}