#polytics.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				h3.title-modal Pólíticas de Reservaciones
			.modal-body
				p Toda la información contenida en Travelnet es propiedad del proveedor del servicio (Broker), de acuerdo al convenio entre el Operador/Agencia y el Broker. Travelnet no se responsabiliza por esta información.
				p Cualquier Usuario con clave y contraseña validas puede concluir una reservación, por lo que es responsabilidad de él cualquier mal uso que se haga con estas claves y contraseñas.
				p Una reservación se considera finalizada, cuando el sistema emite un número de confirmación y cupón de confirmación de reserva, dicho cupón especifica la fecha límite de pago; todas las reservaciones pagadas deben ser capturadas en Travelnet con la respectiva referencia para que éstas no sean canceladas automáticamente por el sistema.
				p Travelnet no se hará responsable de reservaciones canceladas automáticamente ni de errores en la captura de referencias de pago, estas serán responsabilidad exclusiva del Operador/Agencia.
				p Al capturar la información del pago, el sistema genera el Voucher de Hotel que, debe ser entregado al cliente, en dicho voucher se especifica nuevamente la clave de confirmación de la reserva.
				p Para cualquier aclaración deberá contar con la clave de reservación y contactar al operador del servicio. Travelnet no permite cambios a las Reservaciones, solo podrá cancelar y realizar una nueva reserva.
				p Travelnet cuenta con un proceso de cancelación automática de reservaciones que se ejecuta por las noches tomando los criterios de las Políticas de Cancelación de cada Operador/Agencia, previamente establecidos. Es su responsabilidad entrar al sistema y verificar los criterios, pagos, fechas límite y cualquier otro dato relacionado a este proceso.