extends ../indexes.master.jade

block title
	title Traslados

block content
	block content
	section(role="main")
		.container
			h2.pull-right.title Traslados
			include ../../partials/forms/transfer.form.jade