.compare__hotel.grid-cell
	.comparehotel__image
		a.comparehotel__link--close(href="#") &times;
		img(src="../../images/compare-hotel/1.jpg")
	p.compare__hotel--title CasaMagna Marriott Cancun Resort
	//-stars
	include stars.jade
	//a.compare__hotel--moreinfo(href="#"): <i class="fa fa-book"></i> Mas Info
	hr
	.comparehotel__prices
		label Tarifa Neta
		label.comparehotel__prices--net $5,241 MXN
		label Promedio P/Noche
		label.comparehotel__prices--total $36,719 MXN
		label Total Estancia
	label.comparehotel__rooms--title Habitaciones
	.comparehotel__rooms
		label Doble Estandard
		label Disponible
		label Solo Habitación
		div
			label Total Estancia
				span $837 MXN
		input.btn-primary.comparehotel__button(type="submit", value="Reservar")
	.comparehotel__rooms
		hr
		label Doble Estandard
		label Disponible
		label Solo Habitación
		div
			label Total Estancia
				span $837 MXN
		input.btn-primary.comparehotel__button(type="submit", value="Reservar")
	.comparehotel__rooms
		label Doble Estandard
		label Disponible
		label Solo Habitación
		div
			label Total Estancia
				span $837 MXN
		input.btn-primary.comparehotel__button(type="submit", value="Reservar")