//-step3
.steps
	.step1
		.step__square 1
		p Ingresa tus datos
		.line--default
	.step2
		.step__square 2
		p Método de pago
		.line--gradient-inverted
	.step3
		.step__square.selected 3
		p Ticket de Reserva