.steps
	.step1
		.step__square 1
		p Ingresa tus datos
		.line--gradient-inverted
	.step2
		.step__square.selected 2
		p Método de pago
		.line--gradient
	.step3
		.step__square 3
		p Ticket de Reserva