div(role="tabpanel")
  ul.nav.nav-tabs.tabs__navigation(role="tablist")
    li(role="presentation", class="active"): a(href="#home", aria-controls="home", role="tab", data-toggle="tab") Home
    li(role="presentation"): a(href="#profile", aria-controls="profile", role="tab", data-toggle="tab") Profile
    li(role="presentation"): a(href="#messages", aria-controls="messages", role="tab", data-toggle="tab") Messages
    li(role="presentation"): a(href="#settings", aria-controls="settings", role="tab", data-toggle="tab") Settings

  <!-- Tab panes -->
  div.tab-content
    div#home.tab-pane.active(role="tabpanel") Home  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, corrupti. Nisi eveniet repellat in iure, deleniti suscipit maiores optio accusamus, vitae necessitatibus commodi doloribus rerum ut molestias aliquid asperiores sit.
    div#profile.tab-pane(role="tabpanel") Profile  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut laboriosam, facilis odio libero maxime minima, eveniet, perferendis voluptatem cum quod odit. Dolores, illum explicabo voluptatibus dignissimos dolore non vitae deleniti!
    div#messages.tab-pane(role="tabpanel") Messages  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum debitis, dignissimos, assumenda odio nobis voluptatum omnis neque quis nisi, dolores aut error non. Fuga laborum eos ex, saepe asperiores corporis.
    div#settings.tab-pane(role="tabpanel") Settings  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut odit, ipsum inventore veniam, quidem nesciunt quam, voluptatem eos ipsam omnis fugiat eius minima at beatae accusamus quia. Odio, velit, atque.