footer.footer-results
	.container-control
		div
			span: <i class="fa fa-phone"></i> +52 (33) 3642 7782
			span: <i class="fa fa-map-marker"></i> Av. Providencia 2814-3 Guadalajara Jal. Mexico 44630
		p.uppercase
			span: a(href="#", data-toggle="modal", data-target="#polytics") Políticas de Reservación
			span: a(href="#", data-toggle="modal", data-target="#privacy") Políticas de Privacidad
			span: a(href="#", data-toggle="modal", data-target="#terms") Términos y Condiciones
		p Todos los derechos reservados &copy; 2009 - 2015 Travelnet Tecnologías Web S.A. de C.V.