header.header-results
	.container-control
		img(src="../../images/header-logo.png", alt="Travelnet")
		.breadbrumb--tags
			span Estás en: <a href="#">Control</a> | <a href="#" class="current-bread">Reservaciones</a>
		a.link-currency-type(href="#") Tipo de Cambio