.cd-tab-filter-wrapper
	.cd-tab-filter
		ul.cd-filters
			li.placeholder: a(href="hotel.result.html") Hoteles
			li: a(href="hotel.result.html") Hoteles
			li: a(href="transfer.result.html") Traslados
			li: a(href="ticket.result.html") Atracciones
			li: a(href="flight.result.html") Vuelos
			li: a(href="panel.result.html") Panel de Control