script(src="../../js/modernizr.js")
script(src="http://code.jquery.com/jquery-latest.min.js")
script(src="http://code.jquery.com/ui/1.11.4/jquery-ui.js")
script(src="../../js/jquery.mixitup.min.js")
script(src="../../js/main.js")