.cd-filter
	.ff_box
		form(action="#")
			.cd-filter-block
				h4 Nueva Búsqueda
					i.icon-search.fa.fa-search
				.cd-filter-content
					input(type="search", placeholder="Destino")
					.InputAddOn
						span.InputAddOn-item: i.fa.fa-calendar
						input.InputAddOn-field(placeholder="Entrada")
					.InputAddOn
						span.InputAddOn-item: i.fa.fa-calendar
						input.InputAddOn-field(placeholder="Salida")
					//-select general
					.f_row
						.f_col.item-third
							label Habitaciones
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
						.f_col.item-third
							label Adultos
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
						.f_col.item-third
							label Niños
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
					//-room 1
					.f_row.align-to-end
						.f_col.item-third
							label Adultos
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
						.f_col.item-third
							label Niños
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
					//-room 2
					.f_row.align-to-end
						.f_col.item-third
							label Adultos
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
						.f_col.item-third
							label Niños
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
					//-room 3
					.f_row.align-to-end
						.f_col.item-third
							label Adultos
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
						.f_col.item-third
							label Niños
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
					//-room 4
					.f_row.align-to-end
						.f_col.item-third
							label Adultos
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
						.f_col.item-third
							label Niños
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
					//-room 5
					.f_row.align-to-end
						.f_col.item-third
							label Adultos
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
						.f_col.item-third
							label Niños
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
					label Edades de los menores
					hr
					//-room 1
					label Habitación 1
					.f_row
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
					//-room 2
					label Habitación 2
					.f_row
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
					//-room 3
					label Habitación 3
					.f_row
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
					//-room 4
					label Habitación 4
					.f_row
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
					//-room 5
					label Habitación 5
					.f_row
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						select.item-third
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
					input.btn.btn-primary(type="submit", value="Buscar")
		// segundo formulario
		form(action="#")			
			.cd-filter-block
				h4 Filtrar por
					i.fa.fa-filter
				.cd-filter-content.filter-by
					.filter-by--search
						input.input-with-icon(type="text", placeholder="Nombre del Hotel")
						input.btn.btn-primary(type="submit", value="Filtrar")
					.f_row.only-offers
						include ../../../modules/toggle-button.jade
						span Solo ofertas
					h5.off-canvas-subtle Rango de precios
					.f_row
						#slider-range
					.f_row
						.filter-prices
							span#filter-prices-min $252 MXN
							span#filter-prices-max $450 MXN
					h5.off-canvas-subtle Categoria
					.f_row
						.filter-category
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Todos
								span.filter-category-hotels
					.f_row
						.filter-category
							.filter-category-star
								include ../../../modules/toggle-button.jade
								include ../../../modules/stars/six.jade
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								include ../../../modules/stars/five-half.jade
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								include ../../../modules/stars/five.jade
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								include ../../../modules/stars/four-half.jade
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								include ../../../modules/stars/four.jade
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								include ../../../modules/stars/three-half.jade
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								include ../../../modules/stars/three.jade
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								include ../../../modules/stars/two-half.jade
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								include ../../../modules/stars/two.jade
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								include ../../../modules/stars/one-half.jade
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								include ../../../modules/stars/one.jade
								span.filter-category-hotels 288 hoteles
							//-falta todo el filterby
							h5.off-canvas-subtle Ubicación
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Todos
								span.filter-category-hotels 550 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Airport
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Downtown
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Islas Mujeres
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Hotel Zone/Zone H
								span.filter-category-hotels 288 hoteles
							//-food filters
							h5.off-canvas-subtle Plan de Alimentos
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Todos
								span.filter-category-hotels 550 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Todo incluido
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Solo desayuno
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Sin alimentos
								span.filter-category-hotels 288 hoteles
							//-broker filters
							h5.off-canvas-subtle Brokers
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Todos
								span.filter-category-hotels 550 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Hotelbeds
								span.filter-category-hotels 288 hoteles
							.filter-category-star
								include ../../../modules/toggle-button.jade
								span Tourico
								span.filter-category-hotels 288 hoteles
			.cd-filter-block
				h4 Mapa
					i.fa.fa-map-marker
			.cd-filter-block
				h4 Otra fecha
					i.fa.fa-map-marker
				.cd-filter-content
					.InputAddOn
						span.InputAddOn-item: i.fa.fa-car
						input.InputAddOn-field
	a.cd-close(href=""): i.fa.fa-close