.grid.hotel--header
	.grid-cell
		h4 CasaMagna Marriot Cancun Resort
	.grid-cell.u-1of3
		.hotel--header-ui
			include ../../partials/modules/toggle-button.jade
			include ../../partials/modules/stars.jade
article.grid.grid--gutters.grid-flexCells.u-textCenter.hotel
	.grid-cell.u-1of3.hotel--image
		img.img-responsive(src="../../images/compara5.jpg")
	.grid-cell.order2.hotel--content
		h6 Zona Hotelera
		p  Visite el JW Marriott Cancun Resort & Spa, un resort de lujo y un punto de referencia que ha recibido el premio de cinco diamantes de la AAA. Este hotel en el centro de la zona hotelera le ofrece una	...(continuar).
		div.hotel--promo
			img(src="../../images/check.png")
			span ¡Muy bueno!
			p Basado en 2241 opiniones de viajeros
		ul.hotel--list-more-info
			li: a(href="#", data-toggle="modal", data-target="#moreinfo__modal"): <i class="fa fa-book"></i> Más info
			//-li: a(href="#moreinfo-map", data-toggle="modal", data-target="#moreinfo__modal"): <i class="fa fa-map-marker"></i> Mapa
			li: a(href="#moreinfo-photos", data-toggle="modal", data-target="#moreinfo__modal"): <i class="fa fa-picture-o"></i> Fotos
			li: a#js-type-of-rooms(href="#"): <i class="fa fa-bed"></i> Tipos de Habitación
	.grid-cell.u-1of3.order1.hotel--prices
		p Tarifa Neta
		div
			p $7,211 MXN
			p Promedio P/Noche
		p $50,487 MXN
		p Total de Estancia
		p: a(href="#") Ver desglose
		p: input.btn-primary(type="submit", value="Reservar")
//- rooms table
.grid.grid--gutters.grid-flexCells.hotel__rooms
	.grid-cell.u-1of3
	.grid-cell.hotel__rooms--offers
		//- header
		p
			span Tipo de Habitación / Plan / Disponibilidad
			span Precio por estancia
		//- content
		p
			span Sanctuary / Desayuno buffet / Disponible
			span: a: i.fa.fa-list-ul
			span $1,046 USD
			span: a: i.fa.fa-info
			input.btn-primary(type="submit", value="Reservar")
		p
			span Sanctuary / Desayuno buffet / Disponible
			span: a: i.fa.fa-list-ul
			span $1,046 USD
			span: a: i.fa.fa-info
			input.btn-primary(type="submit", value="Reservar")
		p
			span Sanctuary / Desayuno buffet / Disponible
			span: a: i.fa.fa-list-ul
			span $1,046 USD
			span: a: i.fa.fa-info
			input.btn-primary(type="submit", value="Reservar")
		p
			span Sanctuary / Desayuno buffet / Disponible
			span: a: i.fa.fa-list-ul
			span $1,046 USD
			span: a: i.fa.fa-info
			input.btn-primary(type="submit", value="Reservar")
		p
			span Sanctuary / Desayuno buffet / Disponible
			span: a: i.fa.fa-list-ul
			span $1,046 USD
			span: a: i.fa.fa-info
			input.btn-primary(type="submit", value="Reservar")
		p
			span Sanctuary / Desayuno buffet / Disponible
			span: a: i.fa.fa-list-ul
			span $1,046 USD
			span: a: i.fa.fa-info
			input.btn-primary(type="submit", value="Reservar")
hr





//-article.Grid
					.Grid-cell.u-1of3.red.order1
						img(src="../../images/compara5.jpg", style="text-align:center;")
					.Grid-cell.green.order2
						.Demo
							.Grid.Grid--gutters.orange
								.Grid-cell
									.Demo 1/2
								.Grid-cell
									.Grid-cell.blue
										.Demo 1/2
									.Grid-cell.red
										.Demo 1/2