footer.footer-home
	.container
		.secondary-nav
			p: a(href="#") Compras
				i.fa.fa-shopping-cart
			p: a(href="#") Cerrar sesión
				i.fa.fa-toggle-on 
		.row
			.copyright-nav.text-right
				p
					a.uppercase(href="#", data-toggle="modal", data-target="#polytics") Políticas de Reservación
					a.uppercase(href="#", data-toggle="modal", data-target="#privacy") Políticas de Privacidad
					a.uppercase(href="#", data-toggle="modal", data-target="#terms") Términos y Condiciones

				//-include ../globals/modals.jade

				p Todos los derechos reservados © 2009 - 2015 Travel Net Tecnologías Web S.A. de C.V.