header
	.container
		nav.navbar.navbar-default.navbar-fixed-top
			.container.padding-header
				.navbar-header
					button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#header-menu")
						span.sr-only Toggle
						span.icon-bar
						span.icon-bar
						span.icon-bar

					a.navbar-brand(href="#")
						img.header-logo(src="../../../../images/header-logo.png", alt="Travelnet")

				#header_menu.collapse.navbar-collapse
					ul.nav.navbar-nav
						li: a(href="index.html") Hoteles
						li: a(href="transfer.html") Traslados
						li: a(href="ticket.html") Atracciones
						li: a(href="flight.html") Vuelos
						li: a(href="panel.html") Panel de Control