extends ../layout.master.jade

//- body
block header
	include ../partials/globals/header.jade

block footer
	include ../partials/globals/footer.jade

block scripts
	include ../partials/globals/scripts.jade