#r3kageBox
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			label Habitación 3
	.row
		.col-lg-4.col-md-4.col-sm-4.col-xs-4
			select#r3k1a(name="r3k1a", onchange="arg(this.id, this.value)", autocomplete="off", size="1")
				each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
					option(value=val)= val
		.col-lg-4.col-md-4.col-sm-4.col-xs-4
			select#r3k2a(name="r3k2a", onchange="arg(this.id, this.value)", autocomplete="off", size="1")
				each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
					option(value=val)= val
		.col-lg-4.col-md-4.col-sm-4.col-xs-4
			select#r3k3a(name="r3k3a", onchange="arg(this.id, this.value)", autocomplete="off", size="1")
				each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
					option(value=val)= val