<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grid in everything</title>
	<link rel="stylesheet" href="../../css/styles.min.css">
</head>
<body>
	<div class="Grid Grid--top">
		<div class="Grid-cell onecell">
			<div>This cell should be top-aligned.</div>
		</div>
		<div class="Grid-cell u-1of2 twocell">
			<div>Pellentesque sagittis vel erat ac laoreet. Phasellus ac aliquet enim, eu aliquet sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar porta leo, eu ultricies nunc sollicitudin vitae. Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh.</div>
		</div>
		<div class="Grid-cell thirdcell">
			<div>This cell should be top-aligned.</div>
		</div>
	</div>
</body>
</html>