<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/styles.min.css">
    <link rel="icon" type="image/png" href="../../images/favicon.ico">
    <title>Hoteles</title>
  </head>
  <body>
    <header class="header-results">
      <div class="container-control"><img src="../../images/header-logo.png" alt="Travelnet">
        <div class="breadbrumb--tags"><span>Estás en: <a href="#">Control</a> | <a href="#" class="current-bread">Reservaciones</a></span></div><a href="#" class="link-currency-type">Tipo de Cambio</a>
      </div>
    </header>
    <main class="cd-main-content">
      <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
          <ul class="cd-filters">
            <li class="placeholder"><a href="hotel.result.html">Hoteles</a></li>
            <li><a href="hotel.result.html">Hoteles</a></li>
            <li><a href="transfer.result.html">Traslados</a></li>
            <li><a href="ticket.result.html">Atracciones</a></li>
            <li><a href="flight.result.html">Vuelos</a></li>
            <li><a href="panel.result.html">Panel de Control</a></li>
          </ul>
        </div>
      </div>
      <div class="ss">
        <div class="steps">
          <div class="step1">
            <div class="step__square">1</div>
            <p>Ingresa tus datos</p>
            <div class="line--gradient-inverted"></div>
          </div>
          <div class="step2">
            <div class="step__square selected">2</div>
            <p>Método de pago</p>
            <div class="line--gradient"></div>
          </div>
          <div class="step3">
            <div class="step__square">3</div>
            <p>Ticket de Reserva</p>
          </div>
        </div>
        <div class="booking-section">
          <div class="booking-section__service">
            <div class="booking-header"><i class="fa fa-qrcode"></i>
              <h4 class="booking__details">Detalles del Servicio para Jair Rodrigez</h4>
            </div>
            <hr>
            <div class="booking-content grid">
              <div class="booking-content__info grid-cell">
                <div class="booking__pays">
                  <div class="booking__pays--hotel">
                    <p>Sandos Cancún Luxury Experience Resort</p><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                  </div>
                  <p>1 Habitación Doble Superior Plan de Alimentos Completos</p>
                  <p>martes 3 Febrero 2015 al miercoles 4 Febrero 2015, Cancún México</p>
                  <p class="prices__total">$532.00 USD TOTAL</p><a href="#">Revisa tus datos apá</a>
                  <div class="booking__pays-logos"><a href="#"><img src="../../images/booking/visa.png"></a><a href="#"><img src="../../images/booking/mastercard.jpg"></a><a href="#"><img src="../../images/booking/discover.jpg"></a><a href="#"><img src="../../images/booking/paypal.jpg"></a><a href="#"><img src="../../images/booking/oxxo.jpg"></a><a href="#"><img src="../../images/booking/american.png"></a><a href="#"><img src="../../images/booking/dinners.jpg"></a></div>
                </div>
              </div>
              <div class="booking__choose-pay grid-cell">
                <div>Elige un método de pago</div>
                <ul class="choose-pays__list">
                  <li><a href="#"><img src="../../images/booking/pays--credit.png" data-name="pays--credit" alt="Pagar en Paypal">
                      <p>Tarjeta de Crédito</p></a></li>
                  <li><a href="#"><img src="../../images/booking/pays--paypal.png" data-name="pays--paypal" alt="Pagar en Paypal">
                      <p>Pagar en Paypal</p></a></li>
                  <li><a href="#"><img src="../../images/booking/pays--cash.png" data-name="pays--cash" alt="Efectivo">
                      <p>Efectivo</p></a></li>
                  <li><a href="#"><img src="../../images/booking/pays--not-yet.png" data-name="pays--pending" alt="Pago Pendiente">
                      <p>Pago Pendiente</p></a></li>
                </ul>
              </div>
            </div>
            <!--include ../../partials/modules/pay__form.jade-->
          </div>
        </div>
      </div>
      <div class="cd-filter">
        <div class="ff_box">
          <form action="#">
            <div class="cd-filter-block">
              <h4>Nueva Búsqueda<i class="icon-search fa fa-search"></i></h4>
              <div class="cd-filter-content">
                <input type="search" placeholder="Destino">
                <div class="f_row"><span style="width:7%;" class="input-icon"><span class="fa fa-calendar"></span></span>
                  <input type="text" placeholder="Entrada" style="width:93%;" class="input-with-icon">
                </div>
                <div class="f_row"><span style="width:7%;" class="input-icon"><span class="fa fa-calendar"></span></span>
                  <input type="text" placeholder="Salida" style="width:93%;" class="input-with-icon">
                </div>
                <div class="f_row">
                  <div class="f_col item-third">
                    <label>Habitaciones</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <div class="f_col item-third">
                    <label>Adultos</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <div class="f_col item-third">
                    <label>Niños</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>
                <div class="f_row align-to-end">
                  <div class="f_col item-third">
                    <label>Adultos</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <div class="f_col item-third">
                    <label>Niños</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>
                <div class="f_row align-to-end">
                  <div class="f_col item-third">
                    <label>Adultos</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <div class="f_col item-third">
                    <label>Niños</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>
                <div class="f_row align-to-end">
                  <div class="f_col item-third">
                    <label>Adultos</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <div class="f_col item-third">
                    <label>Niños</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>
                <div class="f_row align-to-end">
                  <div class="f_col item-third">
                    <label>Adultos</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <div class="f_col item-third">
                    <label>Niños</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>
                <div class="f_row align-to-end">
                  <div class="f_col item-third">
                    <label>Adultos</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <div class="f_col item-third">
                    <label>Niños</label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>
                <label>Edades de los menores</label>
                <hr>
                <label>Habitación 1</label>
                <div class="f_row">
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <label>Habitación 2</label>
                <div class="f_row">
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <label>Habitación 3</label>
                <div class="f_row">
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <label>Habitación 4</label>
                <div class="f_row">
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <label>Habitación 5</label>
                <div class="f_row">
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <select class="item-third">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <input type="submit" value="Buscar" class="btn btn-primary">
              </div>
            </div>
          </form>
          <!-- segundo formulario-->
          <form action="#">			
            <div class="cd-filter-block">
              <h4>Filtrar por<i class="fa fa-filter"></i></h4>
              <div class="cd-filter-content filter-by">
                <div class="filter-by--search">
                  <input type="text" placeholder="Nombre del Hotel" class="input-with-icon">
                  <input type="submit" value="Filtrar" class="btn btn-primary">
                </div>
                <div class="f_row only-offers">
                  <label class="tgl">
                    <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                  </label><span>Solo ofertas</span>
                </div>
                <h5 class="off-canvas-subtle">Rango de precios</h5>
                <div class="f_row">
                  <div id="slider-range"></div>
                </div>
                <div class="f_row">
                  <div class="filter-prices"><span id="filter-prices-min">$252 MXN</span><span id="filter-prices-max">$450 MXN</span></div>
                </div>
                <h5 class="off-canvas-subtle">Categoria</h5>
                <div class="f_row">
                  <div class="filter-category">
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Todos</span><span class="filter-category-hotels"></span>
                    </div>
                  </div>
                </div>
                <div class="f_row">
                  <div class="filter-category">
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i></span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span class="stars"><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span class="stars"><i class="fa fa-star"></i></span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <h5 class="off-canvas-subtle">Ubicación</h5>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Todos</span><span class="filter-category-hotels">550 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Airport</span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Downtown</span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Islas Mujeres</span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Hotel Zone/Zone H</span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <h5 class="off-canvas-subtle">Plan de Alimentos</h5>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Todos</span><span class="filter-category-hotels">550 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Todo incluido</span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Solo desayuno</span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Sin alimentos</span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <h5 class="off-canvas-subtle">Brokers</h5>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Todos</span><span class="filter-category-hotels">550 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Hotelbeds</span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                    <div class="filter-category-star">
                      <label class="tgl">
                        <input type="checkbox"><span class="tgl_body"><span class="tgl_switch"></span><span class="tgl_track"><span class="tgl_bgd"></span><span class="tgl_bgd tgl_bgd-negative"></span></span></span>
                      </label><span>Tourico</span><span class="filter-category-hotels">288 hoteles</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cd-filter-block">
              <h4>Mapa<i class="fa fa-map-marker"></i></h4>
            </div>
            <div class="cd-filter-block">
              <h4>Otra fecha<i class="fa fa-map-marker"></i></h4>
              <div class="cd-filter-content">
                <div class="InputAddOn"><span class="InputAddOn-item"><i class="fa fa-car"></i></span>
                  <input class="InputAddOn-field">
                </div>
              </div>
            </div>
          </form>
        </div><a href="" class="cd-close"><i class="fa fa-close"></i></a>
      </div><a href="#" class="cd-filter-trigger"><i class="icon-filter fa fa-sliders"></i> Filtrar</a><a href="#" class="cd-filter-trigger-shopping"><i class="icon-filter fa fa-shopping-cart"></i> Compras</a><a href="#" class="cd-filter-trigger-auth"><i class="icon-filter fa fa-toggle-on"></i> Sesión</a>
    </main>
    <footer class="footer-results">
      <div class="container-control">
        <div><span><i class="fa fa-phone"></i> +52 (33) 3642 7782</span><span><i class="fa fa-map-marker"></i> Av. Providencia 2814-3 Guadalajara Jal. Mexico 44630</span></div>
        <p class="uppercase"><span><a href="#" data-toggle="modal" data-target="#polytics">Políticas de Reservación</a></span><span><a href="#" data-toggle="modal" data-target="#privacy">Políticas de Privacidad</a></span><span><a href="#" data-toggle="modal" data-target="#terms">Términos y Condiciones</a></span></p>
        <p>Todos los derechos reservados &copy; 2009 - 2015 Travelnet Tecnologías Web S.A. de C.V.</p>
      </div>
    </footer>
    <script src="../../js/modernizr.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="../../js/jquery.mixitup.min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>