extends ../results.master.jade

block title
	title Traslados

block content
	main.cd-main-content.is-fixed
		.cd-tab-filter-wrapper
		section.cd-gallery
		.cd-filter
		a.cd-filter-trigger(href="#"): i.icon-filter.fa.fa-sliders Filtrar