div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label Habitación 1:*
	//- adult 1
	.grid-cell.passengers__room--inputs
		label Adulto 1:*
		input(type="text", placeholder="Nombre")
		input(type="text", placeholder="Apellido")
//-
div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.passengers__room--inputs
		label Adulto 2:*
		input(type="text", placeholder="Nombre")
		input(type="text", placeholder="Apellido")
//-
div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.passengers__room--inputs
		label Adulto 3:*
		input(type="text", placeholder="Nombre")
		input(type="text", placeholder="Apellido")
//-
div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.passengers__room--inputs
		label Adulto 4:*
		input(type="text", placeholder="Nombre")
		input(type="text", placeholder="Apellido")
	//-kids
//-
div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.passengers__room--inputs
		label Niño 1:*
		input(type="text", placeholder="Nombre")
		input(type="text", placeholder="Apellido")
//-
div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.passengers__room--inputs
		label Niño 2:*
		input(type="text", placeholder="Nombre")
		input(type="text", placeholder="Apellido")
//-
div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.passengers__room--inputs
		label Niño 3:*
		input(type="text", placeholder="Nombre")
		input(type="text", placeholder="Apellido")