div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.booking-section--inputs
		label Adulto 2:*
		label Yair
		label Rodríguez
//-
div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.booking-section--inputs
		label Adulto 3:*
		label Yair
		label Rodríguez
//-
div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.booking-section--inputs
		label Adulto 4:*
		label Yair
		label Rodríguez
//-kids
div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.booking-section--inputs
		label Niño 1:*
		label Yair
		label Rodríguez
//-
div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.booking-section--inputs
		label Niño 2:*
		label Yair
		label Rodríguez
//-
div.passengers__room.grid
	.grid-cell.passengers__room--labels.u-1of4
		label.no-visible Habitación 1:*
	//- adult 1
	.grid-cell.booking-section--inputs
		label Niño 3:*
		label Yair
		label Rodríguez